<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body{
            color: #fff;
            background:#333;
            text-align: center;
            padding-top: 100px;
        }
        a{
            color: red;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Incorrect page</h1>
    <p>Page doesn't exist. Go to the <br> <a href="/">Main Page</a></p>
   
</body>
</html>